@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Mitr', sans-serif;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

@layer base {
	body {
		@apply text-text;
		@apply bg-bg;
	}

	:where(button, a):focus-visible {
		outline: none;
	}

	a:focus-visible:not(:where(.router-link-active, .rounded-link, :hover)) {
		@apply text-focus;
	}

	button {
		font-size: 1rem;
		@apply text-text;
	}
}

@layer utilities {
	.link {
		display: inline-block;
		position: relative;
		transition: color 150ms ease-in-out;
	}

	.link::after {
		@apply bg-accent;

		content: "";

		position: absolute;
		left: 0;
		bottom: 0;

		width: 100%;
		height: 2px;

		transform-origin: bottom right;
		scale: 0 1;

		transition: scale 300ms ease-in-out;
	}

	.link:hover::after {
		scale: 1 1;
		transform-origin: bottom left;
	}

	.link.router-link-active {
		@apply text-accent;
	}

	.rounded-link:focus-visible:not(:where(.router-link-active, :hover)) {
		@apply bg-focus;
	}

	.social-button {
		padding: 0.625rem;
		@apply cursor-pointer;
		@apply text-2xl rounded-xl border border-text grid place-items-center;
		@apply hover:bg-text hover:text-bg;
		@apply transition-colors duration-300;
	}

	.social-button svg {
		@apply aspect-square;
	}

	.page-part {
		@apply w-full h-screen flex justify-center items-center;
	}
}
